@import '~mdb-ui-kit/css/mdb.min.css';

* {
    font-family: 'Mulish', sans-serif;
}
.navbar-dark {
    background-color: #1d349e;
}

.bg-image {
    background-image: url(bgPhotos/bears.png);
    height: 100vh;
}

.bg-image2 {
    background-image: url(bgPhotos/backforest.jpeg);
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}
.result-image {
    width: 75%;
    height: 75%;
    border-radius: 10px;
}

.download-text {
    font-size: 50px;
}